<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <link th:href="@{/css/main.css}" rel="stylesheet" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        <title>Job Boards</title>
    </head>
    <body>
        <h1 class="title">Job Sources</h1>
        <div class="container">
            <th:block th:each="jobBoard, status: ${jobBoards}">
                <div class="job-provider" th:id="'jobProvider.' + ${jobBoard.id}">
                    <div class="rating">
                        <span th:text="${jobBoard.rating}"
                              th:classappend="${jobBoard.rating == 'Okay'} ? okay-color : (${jobBoard.rating == 'Good'} ? good-color : great-color)"></span>
                    </div>
                    <div class="job-provider-content">
                        <div class="image-part">
                            <img th:src="@{${jobBoard.logoFile}}" class="logo-display">
                        </div>
                        <div class="description-part">
                            <span class="description-text" th:text="${jobBoard.description}"></span>
                        </div>
                    </div>
                </div>
            </th:block>
        </div>
    </body>
    <script>
        let element = document.querySelector(".container");

        element.addEventListener("click", (event) => {

            let element = event.target;
            if (element.classList.contains("container")) {
                return;
            }

            while (!element.getAttribute("id")) {
                element = element.parentElement;
            }
            let id = element.getAttribute("id").split(".")[1];
            window.location.href = "/jobOpportunity/" + id;
        });
    </script>
</html>